# Jokk configuration
# Copy this file over to `jokk.toml` and fill in the blanks as necessary

[kafka]
    # example of how to connect to a local running Kafka (e.g. in Docker)    
    [kafka.local]
    host = "localhost:9092"
    enable_sasl = false

    # example of how to connect to a remote running Kafka
    # note: this connection is referred to as "remote", i.e. "-e remote" on the command line
    # it's possible to add more connections with unique names
    [kafka.remote]
    host = ""
    enable_sasl = true
    username = ""
    password = ""
    # available algorithms: plain, sha256, sha512
    algorithm = "plain" 